
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
  --cor0: #DE504E;
  --cor: #D83224;
  --cor2: #B91909;
  --cor3: #961407;
  --cor4: #6B0F04;
  --cor5: #500800;

  --font-padrao:  Arial, "Helvetica Neue", Helvetica, sans-serif;
  --font-destaque:'Bebas Neue', 'cursive';
  --font-android: 'Android', 'cursive';
}
*{
  margin: 0%;
  padding: 0%;
}
body{
  background-color: #c5ebd6;
  font-family: var(--font-padrao);
}
main h2{
  color: var(--cor4);
  font-size: 1.3em;
  background-image: linear-gradient(to right, var(--cor),
  transparent);
  text-indent: 8px;
}
main p{
  margin: 15px 0px;
  text-align: justify;
  text-indent: 25px;
  line-height: 1.5em;
}
main strong{
  color: var(--cor4);
  font-weight: bold;
}
main a{
  text-decoration: none;
  font-weight: bold;
  color: var(--cor5);
  padding: 2px 6px;
}
main a:hover{
  text-decoration: underline;
  color: var(--cor4);
}
header{
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
}
header > h1{
  color:white;
  font-family: var(--font-destaque);
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.616);
  }
header > p{
  font-family: var(--font-padrao);
  font-size: 1.2em;
  color: white;
  max-width: 500px;
  padding: 0px 10px ;
  margin: auto;
  
}
nav{
  background-color: var(--cor5);
  padding: 10px;
  text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.514);
}
nav > a {
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: .6;
}
nav > a:hover{
  background-color: var(--cor2);
}
main{
  min-width: 300px;
  max-width: 1000px;
  background-color: white;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px;
}
main h1{
  color: var(--cor5);
  font-family:var(--font-android) ;
}
main h2{
  font-family: var(--font-android);
}
main img{
  width: 100%;
}

main #video{
  width: 100%;
}
aside{
  background-color: var(--cor);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
}
aside h3{
  background-color: var(--cor4);
  color: white;
  padding: 5px;
  margin: -10px -10px;
  border-radius: 10px 10px 0px 0px;
}
aside > ul{
  list-style-type: '\2714\00A0';
  list-style-position: inside;
  columns: 2;
}
footer{
  background-color: var(--cor5);
  color: white;
}

#cadastro{
color: white;
}

#agreement, #btn {
  cursor: pointer;
}


#fixa {
  position: fixed;
  bottom: 20px;
  margin: 0 400px;
  background: rgba(89, 245, 122);
  width: 230px;
  border-radius: 50px;
  cursor: pointer;
}

#fixa img {
  width: 50px;
  height: 50px;
}

#fixa a .whats {
  display: flex;
  align-items: center;
}

#fixa a .whats span{
  display: block;
  font-weight: Arial;
  color: #040305;
  margin-left: 5px;
  font-size: 18px;
}

.btn-whats {
  animation-name: btn-whats;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes btn-whats {
  from {
    transform: translate3d(0, 0, 0);
    filter: brightness(100%);
  }
  to {
    transform: translate3d(0, -15px, 0);
    filter: brightness(150%);
  }
}

table, thead, tr, th {
  border: 1px solid;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 5px;
}

tr:hover {
  background-color: coral;
}


th {
  background-color: #04AA6D;
  color: white;
}
